{%- comment -%}
This snippet should only be included in the following sections: 

background-text.liquid

{%- endcomment -%}

{% assign custom_cta_class = 'content__cta' %}

{% capture sectionContent %}
  <div class="content-container-offset">
    <div {% if content_unique_identifier_id %} id="{{ content_unique_identifier_id }}"{% endif %} class="content-container-wrapper{% if content_unique_identifier %} {{ content_unique_identifier }}{% endif %}">

      {% include 'button' with button_style: button_style_desktop, button_text: cta_text, button_url: cta_link, class: custom_cta_class, use_as_span_tag: true %}
      {% capture cta_button_desktop %}{{ cta }}{% endcapture %}

      {% include 'button' with button_style: button_style_mobile, button_text: cta_text, button_url: cta_link, class: custom_cta_class, use_as_span_tag: true %}
      {% capture cta_button_mobile %}{{ cta }}{% endcapture %}

      <div class="content is-hidden-mobile
        {% if aligned_center %}is-centered{% endif %}">

        {% if content_image and section.settings.content_image_visibility != 'none' %}
            <img class="content__image{% if section.settings.content_image_visibility == 'desktop_only' %} hide-until@sm{% elsif section.settings.content_image_visibility == 'mobile_only' %} hide-from@sm{% endif %}" src="{{ content_image | img_url: 'master' }}">
          {% endif %}

        {% if content_title != blank %}
          <div class="heading--1 content__title">{{ content_title }}</div>
        {% endif %}

        {% if content_body != blank %}
          <div class="content__body">{{ content_body }}</div>
        {% endif %}

        {% if cta_text != blank %}
          {{ cta_button_desktop }}
        {% endif %}
      </div>

      <div class="content-container-mobile
        is-visible-above
        {% if aligned_center_mobile %}is-centered{% endif %}">

        <div class="content content-mobile">
          {% if content_image and section.settings.content_image_visibility != 'none' %}
            <img class="content__image{% if section.settings.content_image_visibility == 'desktop_only' %} hide-until@sm{% elsif section.settings.content_image_visibility == 'mobile_only' %} hide-from@sm{% endif %}" src="{{ content_image | img_url: 'master' }}">
          {% endif %}

          {% if content_title != blank %}
            <h1 class="content__title">{{ content_title }}</h1>
          {% endif %}

          {% if content_body != blank %}
            <div class="content__body">{{ content_body }}</div>
          {% endif %}

          {% if cta_text != blank %}
            {{ cta_button_mobile }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endcapture %}

{% if cta_email_container != blank %}
  <a href="{{ cta_email_container }}">{{- sectionContent -}}</a>
{%- elsif cta_link_container != blank -%}
  <a href="{{ cta_link_container }}">{{- sectionContent -}}</a>
{%- else -%}
  {{ sectionContent }}
{%- endif -%}

<style>
  #shopify-section-{{ section.id }} .content-container-wrapper {
    {% if background_color %}background-color: {{ background_color }};{% endif %}
    {% if height_d != blank %}height: {{ height_d }}px;{% endif %}
    background-clip: padding-box;
  }

  #shopify-section-{{ section.id }} .content__title {
    font-size: {{ content_title_font_size_desktop }}px;
  }

  #shopify-section-{{ section.id }} .content__body {
    font-size: {{ content_body_font_size_desktop }}px;
    margin-top: {{ content_body_margin_top }}px;
  }

  #shopify-section-{{ section.id }} .content__cta {
    font-size: {{ content_cta_font_size_desktop }}px;
    margin-top: {{ content_cta_margin_top }}px;
  }
  
  #shopify-section-{{ section.id }} .content__image {
    {% if content_image_width %}width: {{ content_image_width }}px;{% endif %}
  }

  {% unless individual_alignment %}
    #shopify-section-{{ section.id }} .content {
      position: absolute;
      top: {{ alignment_top_desktop }}%;
      left: {{ alignment_left_desktop }}%;
      transform: translate(-50%, -50%);
      {% if full_width_d %}width: {{ full_width_d }}%{% else %}width: auto;{% endif %}
    }
  {% endunless %}

  {% if individual_alignment %}
    #shopify-section-{{ section.id }} .content__image {
      top: {{ image_alignment_top_desktop }}%;
      left: {{ image_alignment_left_desktop }}%;
      transform: translate(-50%, -50%);
      position: absolute;
    }

    #shopify-section-{{ section.id }} .content__title {
      top: {{ title_alignment_top_desktop }}%;
      left: {{ title_alignment_left_desktop }}%;
      transform: translate(-50%, -50%);
      position: absolute;
    }

    #shopify-section-{{ section.id }} .content__body {
      top: {{ body_alignment_top_desktop }}%;
      left: {{ body_alignment_left_desktop }}%;
      transform: translate(-50%, -50%);
      position: absolute;
    }

    #shopify-section-{{ section.id }} .content__cta {
      top: {{ button_alignment_top_desktop }}%;
      left: {{ button_alignment_left_desktop }}%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  {% endif %}

  @media only screen and (max-width: 996px) {
    #shopify-section-{{ section.id }} .content-container-wrapper {
      {% if background_color %}background-color: {{ background_color }};{% endif %}
      {% if height_t != blank %}height: {{ height_t }}px;{% endif %}
    }

    {% unless individual_alignment %}
      #shopify-section-{{ section.id }} .content {
        top: {{ alignment_top_tablet }}%;
        left: {{ alignment_left_tablet }}%;
        {% if full_width_t %}width: {{ full_width_t }}%;{% else %}width: auto;{% endif %}
      }
    {% endunless %}
  
    {% if individual_alignment %}
      #shopify-section-{{ section.id }} .content__image {
        top: {{ image_alignment_top_tablet }}%;
        left: {{ image_alignment_left_tablet }}%;
        position: absolute;
      }

      #shopify-section-{{ section.id }} .content__title {
        top: {{ title_alignment_top_tablet }}%;
        left: {{ title_alignment_left_tablet }}%;
        position: absolute;
      }

      #shopify-section-{{ section.id }} .content__body {
        top: {{ body_alignment_top_tablet }}%;
        left: {{ body_alignment_left_tablet }}%;
        position: absolute;
      }

      #shopify-section-{{ section.id }} .content__cta {
        top: {{ button_alignment_top_tablet }}%;
        left: {{ button_alignment_left_tablet }}%;
        position: absolute;
      }
    {% endif %}
  }

  @media only screen and (max-width: 640px) {

    #shopify-section-{{ section.id }}.content-container {
      margin-bottom: {{ gap_under_content_mobile }}px;
    }

    #shopify-section-{{ section.id }} .content-container-wrapper {
      {% if background_color %}background-color: {{ background_color }};{% endif %}
      {% if height_m != blank %}height: {{ height_m }}px;{% endif %}
    }
    
    #shopify-section-{{ section.id }} .content__title {
      font-size: {{ content_title_font_size_mobile }}px;
      {% if content_title_text_color_mobile %}color: {{ content_title_text_color_mobile }};{% endif %}
    }

    #shopify-section-{{ section.id }} .content__body {
      font-size: {{ content_body_font_size_mobile }}px;
      {% if content_body_text_color_mobile %}color: {{ content_body_text_color_mobile }};{% endif %}
    }

    #shopify-section-{{ section.id }} .content__cta {
      font-size: {{ content_cta_font_size_mobile }}px;
    }

    #shopify-section-{{ section.id }} .link--no-style-primary,
    #shopify-section-{{ section.id }} .link--no-style-secondary {
      {% if content_cta_text_color_mobile %}color: {{ content_cta_text_color_mobile }};{% endif %}
    }

    {% unless individual_alignment %}
      #shopify-section-{{ section.id }} .content {
        top: {{ alignment_top_mobile }}%;
        left: {{ alignment_left_mobile }}%;
        {% if full_width %}width: {{ full_width }}%;{% else %}width: auto;{% endif %}
      }
    {% endunless %}

    {% if individual_alignment %}
      #shopify-section-{{ section.id }} .content__image {
        top: {{ image_alignment_top_mobile }}%;
        left: {{ image_alignment_left_mobile }}%;
        position: absolute;
      }

      #shopify-section-{{ section.id }} .content__title {
        top: {{ title_alignment_top_mobile }}%;
        left: {{ title_alignment_left_mobile }}%;
        position: absolute;
      }

      #shopify-section-{{ section.id }} .content__body {
        top: {{ body_alignment_top_mobile }}%;
        left: {{ body_alignment_left_mobile }}%;
        position: absolute;
      }

      #shopify-section-{{ section.id }} .content__cta {
        top: {{ button_alignment_top_mobile }}%;
        left: {{ button_alignment_left_mobile }}%;
        position: absolute;
      }
    {% endif %}
  }

  @media only screen and (min-width: 641px) {

    #shopify-section-{{ section.id }}.content-container {
      margin-bottom: {{ gap_under_content }}px;
    }

    #shopify-section-{{ section.id }} .content__title {
      {% if content_title_text_color_desktop %}color: {{ content_title_text_color_desktop }};{% endif %}
    }

    #shopify-section-{{ section.id }} .content__body {
      {% if content_body_text_color_desktop %}color: {{ content_body_text_color_desktop }};{% endif %}
    }

    #shopify-section-{{ section.id }} .link--no-style-primary,
    #shopify-section-{{ section.id }} .link--no-style-secondary {
      {% if content_cta_text_color_desktop %}color: {{ content_cta_text_color_desktop }};{% endif %}
    }
  }
</style>
