{%- comment -%}

Store password form.

Documentation: https://help.shopify.com/en/themes/liquid/tags/theme-tags#storefront_password

Objects Referenced:
 • https://help.shopify.com/en/themes/liquid/objects/form

{%- endcomment -%}

{%- assign form_id = 'PasswordForm' -%}
{%- assign form_class = 'form form--password' -%}

{% form 'storefront_password', id: form_id, class: form_class %}
  {% include 'form__status', form_id: form_id %}
  <div class="form__field">
    {% assign field_id = form_id | append: '-Password' %}
    <label for="{{ field_id }}" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
    <input type="password"
      name="password"
      id="{{ field_id }}"
      placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
  </div>
  <div class="form__actions">
    <button type="submit" name="commit">{{ 'general.password_page.login_form_submit' | t }}</button>
  </div>
{% endform %}
