{%- comment -%}

Comment form.

Documentation: https://help.shopify.com/en/themes/liquid/tags/theme-tags#recover_customer_password

Objects Referenced:
 • form https://help.shopify.com/en/themes/liquid/objects/form

{%- endcomment -%}

{%- assign form_id = 'RecoverCustomerPassword' -%}
{%- assign form_class = 'form form--recover-customer-password js-form' -%}

{% form 'recover_customer_password', id: form_id, class: form_class %}
  {% include 'form__status', form_id: form_id %}
  {% unless form.posted_successfully? %}
    <div class="form__field">
      {% assign field_id = form_id | append: '-RecoverEmail' %}
      <label for="{{ field_id }}" class="hidden">{{ 'customer.recover_password.email' | t }}</label>
      <input type="email"
        name="email"
        class="customer__recover--input input input-text input__textbox input__textbox--contrast js-input"
        id="{{ field_id }}"
        autocorrect="off"
        autocapitalize="off"
        placeholder="{{ 'customer.recover_password.email' | t }}"
        required>
    </div>
    <div class="form__actions">
      <button type="submit" class="customer__recover-submit button button--tertiary button--contrast">{{ 'customer.recover_password.submit' | t }}</button>
      <p><a href="/account" class="link link--secondary">{{ 'customer.recover_password.cancel' | t }}</a></p>
    </div>
  {% endunless %}
  
{% endform %}
