{%- comment -%}

Comment form.

Documentation: https://help.shopify.com/en/themes/liquid/tags/theme-tags#activate_customer_password

Objects Referenced:
 • form https://help.shopify.com/en/themes/liquid/objects/form

{%- endcomment -%}

{%- assign form_id = 'ActivateCustomerPassword' -%}
{%- assign form_class = 'form form--activate-customer-password' -%}

{% form 'activate_customer_password', id: form_id, class: form_class %}
  {% include 'form__status', form_id: form_id %}

  <div class="form__field">
    {% assign field_id = form_id | append: '-CustomerPassword' %}
    <label for="{{ field_id }}" class="label--hidden">{{ 'customer.activate_account.password' | t }}</label>
    <input type="password"
      name="customer[password]"
      id="{{ field_id }}">
  </div>

  <div class="form__field">
    {% assign field_id = form_id | append: '-CustomerPasswordConfirmation' %}
    <label for="{{ field_id }}" class="label--hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
    <input type="password"
      name="customer[password_confirmation]"
      id="{{ field_id }}">
  </div>

  <div class="form__actions">
    <button type="submit">{{ 'customer.activate_account.submit' | t }}</button>
    <button type="submit" name="decline">{{ 'customer.activate_account.cancel' | t }}</button>
  </div>
{% endform %}
