{%- comment -%}

Comment form.

Documentation: https://help.shopify.com/en/themes/liquid/tags/theme-tags#reset_customer_password

Objects Referenced:
 • form https://help.shopify.com/en/themes/liquid/objects/form

{%- endcomment -%}

{%- assign form_id = 'ResetCustomerPassword' -%}
{%- assign form_class = 'form form--reset-customer-password' -%}

{% form 'reset_customer_password', id: form_id, class: form_class %}
  {% include 'form__status', form_id: form_id %}

  <div class="form__field">
    {% assign field_id = form_id | append: '-ResetPassword' %}
    <label for="{{ field_id }}" class="hidden">{{ 'customer.reset_password.password' | t }}</label>
    <input type="password"
      name="customer[password]"
      id="{{ field_id }}"
      class="input input-text input__textbox input__textbox--contrast js-input{% if form.errors contains 'password' %} input--error{% endif %}"
      placeholder="{{ 'customer.reset_password.password' | t }}"
      required>
  </div>

  <div class="form__field">
    {% assign field_id = form_id | append: '-PasswordConfirmation' %}
    <label for="{{ field_id }}" class="hidden">{{ 'customer.reset_password.password_confirm' | t }}</label>
    <input type="password"
      name="customer[password_confirmation]"
      id="{{ field_id }}"
      class="input input-text input__textbox input__textbox--contrast js-input{% if form.errors contains 'password_confirmation' %} input--error{% endif %}"
      placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
      required>
  </div>

  <div class="form__actions">
    <button type="submit" class="customer__recover-submit button button--tertiary button--contrast">{{ 'customer.reset_password.submit' | t }}</button>
  </div>
{% endform %}
