{%- comment -%}

Comment form.

Documentation: https://help.shopify.com/en/themes/liquid/tags/theme-tags#create_customer

Objects Referenced:
 • form https://help.shopify.com/en/themes/liquid/objects/form

{%- endcomment -%}

{%- include 'store-domain' -%}
{%- assign form_id = 'CreateCustomer' -%}
{%- assign form_class = 'form form--create-customer' -%}

{% form 'create_customer', id: form_id, class: form_class %}
  {%- if template.name contains 'register' -%}
    {% include 'form__status', form_id: form_id %}
  {%- endif -%}

  <input type="hidden" name="return_to" value="/account?from=registration">

  <div class="form__field form__field--text">
    {% assign field_id = form_id | append: '-FirstName' %}
    <label class="hidden" for="{{ field_id }}">{{ 'customer.register.first_name' | t }}</label>
    <input type="text"
      class="input input-text input__textbox js-input"
      name="customer[first_name]"
      placeholder="{{ 'customer.register.first_name' | t }}"
      id="{{ field_id }}"
      {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
      autofocus
      required>
  </div>

  <div class="form__field form__field--text">
    {% assign field_id = form_id | append: '-LastName' %}
    <label class="hidden" for="{{ field_id }}">{{ 'customer.register.last_name' | t }}</label>
    <input type="text"
      class="input input-text input__textbox js-input"
      name="customer[last_name]"
      placeholder="{{ 'customer.register.last_name' | t }}"
      id="{{ field_id }}"
      {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
      required>
  </div>

  <div class="form__field form__field--email">
    {% assign field_id = form_id | append: '-Email' %}
    <label class="hidden" for="{{ field_id }}">{{ 'customer.register.email' | t }}</label>
    <input type="email"
      name="customer[email]"
      placeholder="{{ 'customer.register.email' | t }}"
      id="{{ field_id }}"
      class="input input-text input__textbox js-input{% if form.errors contains 'email' %} input--error{% endif %}"
      {% if form.email %} value="{{ form.email }}"{% endif %}
      autocorrect="off"
      autocapitalize="off"
      required>
  </div>

  <div class="form__field form__field--password">
    {% assign field_id = form_id | append: '-CreatePassword' %}
    <label class="hidden" for="{{ field_id }}">{{ 'customer.register.password' | t }}</label>
    <input type="password"
      name="customer[password]"
      placeholder="{{ 'customer.register.password' | t }}"
      id="{{ field_id }}"
      class="input input-text input__textbox js-input js-customer-password{% if form.errors contains 'password' %} input--error{% endif %}"
      autocomplete="new-password"
      required>
  </div>

  <div class="form__field form__field--password">
    {% assign field_id = form_id | append: '-ConfirmPassword' %}
    <label class="hidden" for="{{ field_id }}">{{ 'customer.register.confirm_password' | t }}</label>
    <input type="password"
      name="customer[confirm_password]"
      placeholder="{{ 'customer.register.confirm_password' | t }}"
      id="{{ field_id }}"
      class="input input-text input__textbox js-input js-customer-confirm-password{% if form.errors contains 'password' %} input--error{% endif %}"
      autocomplete="new-password"
      required>
  </div>

  <div class="customer__checkbox-wrapper">
    {% assign field_id = form_id | append: '-ConfirmNewsletter' %}
    <input type="hidden" name="customer[accepts_marketing]" value="" />
    <input type="checkbox" id="{{ field_id }}" name="customer[accepts_marketing]" value="true" {% if store_domain == 'USA' %}checked{% endif %} class="js-checkbox-newsletter">
    <label class="label-text label-text--checkbox" for="{{ field_id }}">{{ 'customer.register.join_newsletter' | t }}</label>
  </div>

  <div class="form__actions">
    <button type="submit" class="button button--secondary customer__button js-submit-btn js-submit-customer-register js-sailthru-register">{{ 'customer.register.submit' | t }}</button>
  </div>

  <a href="/account/login" class="link link--primary hide-from@md customer__link js-customer-toggle" title="{{ 'customer.register.account_exist' | t }}">{{ 'customer.register.account_exist' | t }}</a>

  {%- if store_domain == 'USA' -%}
    <a href="{{ settings.eu_domain }}" class="link link--primary customer__link" title="{{ 'customer.register.switch_store' | t }}">{{ 'customer.register.switch_store' | t }}</a>
  {%- else -%}
    <a href="{{ settings.us_domain }}" class="link link--primary customer__link" title="{{ 'customer.register.switch_store_from_eu' | t }}">{{ 'customer.register.switch_store_from_eu' | t }}</a>
  {%- endif -%}
  
{% endform %}
