<!-- globale-tracking_include -->
{% include 'globale-tracking' %}
{%- comment -%}

Default page template.

Documentation: https://help.shopify.com/en/themes/development/templates/page-liquid

Objects Referenced:
 • page https://help.shopify.com/en/themes/liquid/objects/page

{%- endcomment -%}

<article class="page js-{{ template.name }}">
  <h1 class="page__title heading--1">{{ page.title }}</h1>
  {% comment %} <p class="page__date">{{ 'general.page.published_at' | t }} {{ page.published_at | date: '%B %e, %Y' }}</p> {% endcomment %}
  <div class="page__content">
    {{ page.content }}
  </div>
</article>
