{% layout none %}
<!DOCTYPE html>
<html class="js-noscript" lang="{{ shop.locale }}">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {{ content_for_header }}
  <meta name="theme-color" content="{{ settings.theme_color }}">
  <link rel="stylesheet" href="{{ 'css_vendors.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'scss_theme.scss.css' | asset_url }}">
  {% include 'favicon' %}
  <title>Site is down</title>
</head>
<body>
  {% section 'site-is-down' %}
</body>
